.fullscrean{
    height: auto;
    min-height: 100vh;
    background: rgb(0, 0, 0);
}
.post-container{
    background: rgb(0, 0, 0);
    width: auto ;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 200px;
}
.images{
        margin-left: 250px;
        margin-right: 200px;
        margin-top: 20px;
        display: flex;
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        user-select: none;
}
.images > img{
    height: 350px;
    width: 350px;
    cursor: pointer;
    object-fit: cover;
    border: 1px rgb(0, 0, 0) solid;

}
.images > img:hover{
    height: 351px;
    width: 351px;
    border: white solid 1px;
}
@media (min-device-width: 1px) and (max-device-width: 768px) {
    .fullscrean{
        height: auto;
        background: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .post-container{
        background: rgb(0, 0, 0);
        width: auto ;
        height: auto;
        min-height: 100vh;
        display: flex;
    }
    .images{
        margin-left: 0px;
        margin-right: 0px auto;
        margin-bottom: 20px;
        user-select: none;       
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.images > img{
    height: 650px;
    width: 650px;
    cursor: pointer;
    object-fit: cover;
    border: 1px rgb(0, 0, 0) solid;
}
.images > img:hover{
    height: 651px;
    width: 651px;

}
}
