.fullscrean{
    height: auto;
    min-height: 100vh;
    background: rgb(80,106,140);
    background: radial-gradient(circle, rgba(80,106,140,1) 0%, rgba(0,0,0,1) 100%);
}
.post-container{
    width: auto ;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 200px;
}
.images{
        margin-left: 250px;
        margin-right: 200px;
        margin-top: 20px;
        display: flex;
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        user-select: none;
}

.images > img{
    height: 350px;
    width: 350px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
}
.images > img:hover{
    border-radius: 0px;
    transition: 0.5s;
}
@media (min-device-width: 1px) and (max-device-width: 768px) {
    .fullscrean{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }

    .images{
        margin-left: 0px;
        margin-right: 0px auto;
        margin-bottom: 20px;
        user-select: none;       
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

.images > img{
    height: 650px;
    width: 650px;
    cursor: pointer;
    object-fit: cover;
    border: 1px rgb(0, 0, 0) solid;
}}
