.fullscrean{
    height: auto;
    min-height: 100vh;
    background: rgb(80,106,140);
    background: radial-gradient(circle, rgba(80,106,140,1) 0%, rgba(0,0,0,1) 100%);
}
.post-container{
    width: auto ;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-top: 10px;
}
.images{
        margin-left: 250px;
        margin-right: 200px;
        margin-top: 20px;
        display: flex;
        gap: 15px;
        flex-direction: row;
        flex-wrap: wrap;
        user-select: none;
}

.images > img{
    height: 350px;
    width: 350px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
}
.images > img:hover{
    scale: 103%;
    border-radius: 0px;
    transition: 0.5s;
}

@media (min-width: 1px) and (max-width: 1200px) {

    .post-container{
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
    .images{
        user-select: none;  
        margin: 0 auto;
    }

.images > img{
    height: 400px;
    width: 400px;
    cursor: pointer;
}}

@media (min-device-width: 1px) and (max-device-width: 768px) {
    .images{
        user-select: none;  
        margin: 0 auto;     
    }

.images > img{
    height: 600px;
    width: 600px;
    cursor: pointer;
    border: 1px rgb(0, 0, 0) solid;
}}