@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.header-contaier{
    font-family: 'Rubik';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 200px;
    height: 100vh;
    border-right: white 1px solid;
}
ul{
    position: fixed;
    left: 0;
    top: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
}
.ulheader ul li > a, i{ 
    text-decoration: none;
    color: white;
    margin: 10px 20px;
    margin-right: 10px;
}
.margin-betweent:hover{
    background: rgba(255, 255, 255, 0.507);
    border-radius: 10px;
    transition: 0.5s;
    
}

.appName{
    color: white;
    position: absolute;
    top: 0;
    font-family: 'Lobster';
}
.appName > a {
    color: white;
    text-decoration: none;
}
.HeaderImg{
    position: absolute;
    top: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.HeaderImg:hover{
    border-radius: 20%;
    transition: 0.5s;
}

.btnOut{
    border-radius: 10px;
    transition: 0.5s;
    background: rgba(255, 4, 4, 0.301);
    cursor: pointer;
    position: fixed;
    bottom: 5%;
}

@media (min-device-width: 1px) and (max-device-width: 768px) {
    .header-contaier{
        font-family: 'Rubik';
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 120px;
        border-top: white 1px solid;
        font-size: 30px;
    }
    ul{
        position: absolute;
        left: 0;
        bottom: 0px;
        top: 0;
        display: flex;
        flex-direction: row;
        gap: 50px;
        list-style: none;
    }
    .appName{
        display: none;
    }
    .HeaderImg{
        position: absolute;
        bottom: 5%;
        top: 25px;
        right: 3%;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .btnOut{
        border-radius: 10px;
        background: rgba(255, 4, 4, 0.479);
        position: sticky;
        right: 30%;
    }
}

