@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap");

.alll {
  background: rgb(80,106,140);
  background: radial-gradient(circle, rgba(80,106,140,1) 0%, rgba(0,0,0,1) 100%);
  height: 100vh;
  font-family: "Changa";
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add-containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-containerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  height: 750px;
  width: 400px;
  gap: 20px;
  border-radius: 30px;
}
.text-inputt {
  width: 90%;
  height: 20px;
}

.form-containerr > textarea {
  border: none;
  outline: none;
  border-radius: 3px;
  height: 250px;
  max-height: 250px;
  width: 90%;
  max-width: 90%;
}

.edit-button {
  width: 90%;
  border-radius: 5px;
  border: none;
  background: rgb(25, 25, 145);
  color: white;
  height: 30px;
  font-size: 20px;
}
.post-buttonn:hover {
  background: rgba(255, 255, 255, 0.5);
}
input[type="file"] {
  display: none;
}

input[type="file"]::file-selector-button {
  border: none;
}
@media screen and (min-device-width: 300px) and (max-device-width: 768px) {
  .form-containerr {
    height: 100vh;
    width: 100%;
    font-size: 60px;
    border-radius: 0;
}
  .text-inputt{
    font-size: 70px;
    height: auto;
  }
  .form-containerr > textarea {
    height: 450px;
    max-height: 450px;
    width: 90%;
    max-width: 90%;
    font-size: 50px;
  }
  .imgFilee{
    font-size: 40px;
  }
  .edit-button{
    font-size: 70px;
    height: auto;
  }
}
